<div id="sidebar">
  <div id="row1">
    <mat-tab-group [@.disabled]="true">
      <mat-tab label="Messages">
        <div id="searchBox">
          <img width="19" src="../../assets/images/searchIcon.svg" />
          <input [(ngModel)]="searchText" type="text" placeholder="Search or start the new chat" />
        </div>
        <div id="sidebarContent">
          <!-- <div id="noConversations">All chats are archived</div> -->

          <div class="conversation" *ngFor="
        let conversation of !searchText ? conversations : filteredConversations
      " (click)="conversationClicked.emit(conversation)">
              <div class="picture">
                <img src="{{conversation.members.reciverPic}}" />
              </div>
              <div class="content">
                <div class="conversationHeader">
                  <div class="name">{{ conversation.members.reciverName }}</div>
                  <div class="time">{{ formatTimestamp(conversation.timestamps) }}</div>
                </div>
                <div class="message">
                  <img *ngIf="!conversation.latestMessageRead" src="../../assets/images/doubleTick.svg" />
                  <img *ngIf="conversation.latestMessageRead" src="../../assets/images/doubleTickBlue.svg" />
                  {{ getlastMsg(conversation.message) }}
                </div>
              </div>
            </div>
          </div>
        
      </mat-tab>
      <mat-tab label="Available Users">
        <div id="searchBox">
          <img width="19" src="../../assets/images/searchIcon.svg" />
          <input [(ngModel)]="searchText" type="text" placeholder="Search or start the new chat" />
        </div>
        <div id="sidebarContent">
          <!-- <div id="noConversations">All chats are archived</div> -->

          <div class="conversation" *ngFor="let user of !searchText ? allUsers : filteredConversations">
            <div class="picture">
              <img src="../../assets/images/noPic.svg" />
            </div>
            <div class="content">
              <div class="conversationHeader">
                <div class="name">{{ user.userName }}</div>
                <button (click)="connect(user._id,user.userName,user.userName)"></button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="My Profile">
        <div class="profile-container">
          <div class="profile-card">
            <div class="profile-picture">
              <img src="https://e7.pngegg.com/pngimages/550/997/png-clipart-user-icon-foreigners-avatar-child-face.png" alt="Profile Picture" />
              <mat-icon class="edit-icon" (click)="editProfilePicture()">edit</mat-icon>
            </div>
            <div class="profile-info">
              <h2>Name</h2>
              <p>Your Name</p>
              <mat-icon class="edit-icon" (click)="editName()">edit</mat-icon>
            </div>
            <div class="profile-info">
              <h2>About Me</h2>
              <p>Your about me text goes here.</p>
              <mat-icon class="edit-icon" (click)="editAboutMe()">edit</mat-icon>
            </div>
            <div class="profile-info">
              <h2>Created At</h2>
              <p>Date of Account Creation</p>
            </div>
            <div class="profile-info">
              <h2>My Groups</h2>
              <div class="scrollable-list">
                <ul>
                  <li *ngFor="let group of myGroups">{{ group.name }}</li>
                </ul>
              </div>
              <mat-icon class="edit-icon" (click)="editGroups()">edit</mat-icon>
            </div>
          </div>
        </div>
        
        
      </mat-tab>
    </mat-tab-group>

 
  </div>
  
</div>