<mat-tab-group [@.disabled]="true">
    <mat-tab label="Login">
  
<form [formGroup]="userRegistrationForm">
    <div class="field-input form-floating mb-3" [ngClass]="{'input-entered': email}">
        <input type="email" [(ngModel)]="email" class="form-control" id="floatingInput"
            placeholder="name@example.com"
            [class.is-invalid]="userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched"
            class="form-control" formControlName="email" [email]="emailValidation" />

        <div class="color"
            *ngIf="(userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched) || userRegistrationForm.get('email').dirty">
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('email').errors?.required">Email address is
                required</small>
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('email').errors?.email">Invalid email
                address</small>
        </div>
        <label for="floatingInput ">Email address</label>
    </div>
    <div class="field-input form-floating mb-3" [ngClass]="{'input-entered': password}">
        <input type="password" [(ngModel)]="password" class="form-control" id="floatingInput"
            placeholder=""
            [class.is-invalid]="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched"
            class="form-control" formControlName="password" />

        <div class="color"
            *ngIf="(userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched) || userRegistrationForm.get('password').dirty">
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('password').errors?.required"> password is
                required</small>
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('password').errors?.password">Invalid password</small>
        </div>
        <label for="floatingInput "> password</label>
    </div>
</form>
<div class="d-grid">
    <button  (click)="login()"
        class="btn bg-primary btn-login text-uppercase fw-bold text-white col" type="button"
        id="next">
        Login
    </button>
</div>
</mat-tab>
<mat-tab label="Signup">
      
<form [formGroup]="userRegistrationForm">
    <div class="field-input form-floating mb-3" [ngClass]="{'input-entered': userName}">
        <input type="text" [(ngModel)]="userName" class="form-control" id="floatingInput"
            placeholder="User Name"
            [class.is-invalid]="userRegistrationForm.get('userName').invalid && userRegistrationForm.get('userName').touched"
            class="form-control" formControlName="userName"  />

        <div class="color"
            *ngIf="(userRegistrationForm.get('userName').invalid && userRegistrationForm.get('userName').touched) || userRegistrationForm.get('userName').dirty">
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('userName').errors?.required">User Name is
                required</small>
        </div>
        <label for="floatingInput ">User Name</label>
    </div>
    <div class="field-input form-floating mb-3" [ngClass]="{'input-entered': email}">
        <input type="email" [(ngModel)]="email" class="form-control" id="floatingInput"
            placeholder="name@example.com"
            [class.is-invalid]="userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched"
            class="form-control" formControlName="email" [email]="emailValidation" /> 

        <div class="color"
            *ngIf="(userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched) || userRegistrationForm.get('email').dirty">
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('email').errors?.required">Email address is
                required</small>
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('email').errors?.email">Invalid email
                address</small>
        </div>
        <label for="floatingInput ">Email address</label>
    </div>
    <div class="field-input form-floating mb-3" [ngClass]="{'input-entered': password}">
        <input type="password" [(ngModel)]="password" class="form-control" id="floatingInput"
            placeholder=""
            [class.is-invalid]="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched"
            class="form-control" formControlName="password" />

        <div class="color"
            *ngIf="(userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched) || userRegistrationForm.get('password').dirty">
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('password').errors?.required"> password is
                required</small>
            <small class="text-danger"
                *ngIf="userRegistrationForm.get('password').errors?.password">Invalid password</small>
        </div>
        <label for="floatingInput "> password</label>
    </div>
</form>
<div class="d-grid">
    <button  (click)="signup()"
        class="btn bg-primary btn-login text-uppercase fw-bold text-white col" type="button"
        id="next">
        Signup
    </button>
    </div>
</mat-tab>
</mat-tab-group>